@import url('https://fonts.googleapis.com/css?family=Jura');

html, body { width: 100%; height: 100%; background-color: #000; }
body { margin: 0; overflow: hidden; font-family: 'Jura', sans-serif; }

input[type="text"] { width: 100%; font-size: 14px; text-align: center; padding: 5px; font-family: 'Jura', sans-serif; }
button { background: #fff; border: 0; border-radius: 10px; font-size: 24px; font-weight: 700; padding: 10px 30px; margin-top: 30px; }
ul { list-style: none; margin: 0; padding: 0; }

.row { width: 100%; padding: 10px 0; }

#window { width: 1920px; height: 1080px; background: url(textures/space-window.png) no-repeat center center; background-size: contain; position: absolute; z-index: 50; left: 50%; top: 50%; transform: translate(-50%, -50%); pointer-events: none; }

#loading-screen { position: fixed; height: 100%; width: 100%; margin-top: 0; align-items: center; justify-content: center; background-color: #000000; z-index: 25; transition: all 0.5s ease; display: none; }
#loading-screen.show { display: flex; }
#loading-screen.fade-out { margin-top: -100%; }
.spinner { margin: 100px auto; width: 50px; height: 40px; text-align: center; font-size: 10px; }
.spinner > div { background-color: #ffffff; height: 100%; width: 6px; display: inline-block; -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out; animation: sk-stretchdelay 1.2s infinite ease-in-out; }
.spinner .rect2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
.spinner .rect3 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }
.spinner .rect4 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
.spinner .rect5 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }

#user-selection, #users-list-wrap { width: 500px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; position: absolute; z-index: 30; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #fff; text-align: center; }
#users-list-wrap { display: none; }
#users-list-wrap.show { display: flex; }
#waiting { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 31; background-color: rgba(0,0,0,0.9); display: none; }
#waiting.show { display: block; }
#waiting p { color: #fff; font-size: 24px; text-align: center; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#debugger { position: absolute; z-index: 100; top: 60px; left: 10px; padding: 5px; background-color: #fff; font-size: 12px; }
#stage, #blocker { width: 1600px; max-width: 100%; height: 900px; max-height: 100%; position: relative; z-index: 1; left: 50%; top: 50%; transform: translate(-50%, -50%); }
#blocker { position: absolute; z-index: 15; background-color: rgba(0,0,0,0.8); display: block; cursor: pointer; }

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0); background-color: #168AA2; }
}
@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
		background-color: #168AA2;
	}
}
